<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="background: url(&quot;../static/assets/img/flowers-6199691_1280.png&quot;) top / cover no-repeat;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin Login - Brand</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mochiy+Pop+P+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/assets/css/vanilla-zoom.min.css">
</head>

<body style="border-color: var(--bs-primary);background: url(&quot;../static/assets/img/flowers-6199691_1280.png&quot;) top / cover no-repeat, var(--bs-success);height: auto;width: auto;">
    <main class="page"></main>
    <div class="container" style="padding: 27px;height: 773.838px;">
        <nav class="navbar navbar-expand-lg sticky-top clean-navbar" style="height: 80.4px;box-shadow: 0px 0px 14px 2px;background: transparent;width: auto;display: flex;overflow: visible;">
            <div class="container"><a class="navbar-brand logo" href="#" style="background: url(&quot;../static/assets/img/F5%20Escapes_Green_2024.png&quot;) center / contain no-repeat;padding: 15px 0px;width: 90.6875px;height: 47px;margin: 0px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a><button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><button class="btn btn-primary" type="button" style="background: var(--bs-navbar-toggler-border-color);border-style: none;"><i class="fas fa-home" style="font-size: 23px;"></i></button></button></div>
        </nav>
        <div class="row justify-content-center" style="height: 586.838px;margin-top: 30px;">
            <div class="col-md-9 col-lg-12 col-xl-10" style="height: 577.838px;">
                <div></div>
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="height: 524.838px;background: url(&quot;../static/assets/img/WhatsApp%20Image%202024-12-16%20at%2014.00.11_e3d5c4a6.jpg&quot;);margin-bottom: -6px;"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5" style="height: 581.838px;margin: -29px;">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4" style="font-family: Poppins, sans-serif;font-weight: bold;">Admin Login</h4>
                                    </div>
                                    <form class="user" method="POST" action="/admin_login">
                                        <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleInputUsername" aria-describedby="usernameHelp" placeholder="Username" name="username" style="height: 50.8px;border-width: 1.2px;"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password" style="height: 50.8px;border-width: 1.2px;"></div>
                                        <div class="mb-3">
                                            <div class="custom-checkbox small">
                                                <!--<div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"></label></div>-->
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit" style="height: 45.8px;border-radius: 35px;background: seagreen;">Login</button>
                                        <hr>
                                        
                                    </form>
                                    <div class="text-center"><a class="small" href="signup.html"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/baguetteBox.min.js"></script>
    <script src="../static/assets/js/vanilla-zoom.js"></script>
    <script src="../static/assets/js/theme.js"></script>
</body>

</html>