<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/assets/css/untitled.css">
    <link rel="stylesheet" href="../static/assets/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page">
        <section class="clean-block clean-hero" style="color: var(--bs-border-color-translucent);background: url(&quot;../static/assets/img/flowers-6199691_1280.png&quot;) top / cover no-repeat;height: 735px;">
            <div class="text">
                <h2 style="font-family: Aclonica, sans-serif;font-size: 20px;width: 470px;"><br>Escape the ordinary. Discover a world of adventures designed just for you.</h2>
                <p>Get access to our innovative customer dashboard&nbsp;<br>our next unforgettable journey begins here.<br><br></p>
                <button class="btn btn-outline-light" type="button" style="border-radius: 6px;border-color: var(--bs-success);background: var(--bs-success);width: 97.525px;margin: -10px;font-weight: bold;" onclick="window.location.href='/signup'">Sign Up</button>
                <button class="btn btn-outline-light" type="button" style="width: 97.525px;margin: 16px;border-color: var(--bs-success);border-radius: 6px;background: var(--bs-success);font-weight: bold;" onclick="window.location.href='/signin'">Log In</button>
                <button class="btn btn-outline-light" type="button" style="width: 97.525px;margin: -10px;border-color: var(--bs-success);border-radius: 6px;background: var(--bs-success);font-weight: bold;" onclick="window.location.href='/admin'">Admin</button>
            </div>
            <nav class="navbar navbar-expand-lg fixed-top clean-navbar" style="background: var(--bs-nbar-color);height: 101.4px;width: 0px;">
                <div class="container"><a class="navbar-brand logo" href="#" style="background: url(&quot;../static/assets/img/F5%20Escapes_Green_2024.png&quot;) center / contain no-repeat;width: 90.6875px;height: 66px;margin: 7px;padding: 30px 0px;display: block;overflow: visible;position: sticky;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"></li>
                        </ul>
                        <ul class="navbar-nav"></ul>
                        <ul class="navbar-nav"></ul>
                    </div>
                </div>
            </nav>
        </section>
        <section class="clean-block clean-info dark" style="border-top-style: solid;box-shadow: inset 0px 14px 17px;">
            <div class="container">
                <div class="block-heading"></div>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6"><img class="img-thumbnail" src="../static/assets/img/scenery/F5%20Escapes_Green_2024.png" width="600" height="228" style="background: transparent;width: auto;border-top-color: var(--bs-border-color-translucent);color: var(--bs-border-color-translucent);padding: 19px;padding-bottom: 17px;padding-right: 15px;margin-left: 13px;max-height: 241px;min-height: 4px;height: auto;max-width: 185%;"></div>
                    <div class="col-md-6">
                        <h3 style="font-family: poppins;"><br>Redefining travel for women, one adventure at a time.<br><br></h3>
                        <div>
                            <p style="font-family: Poppins, sans-serif;"><br>At F5 Escapes, we believe that every woman deserves the freedom to explore, experience, and embrace the world on her own terms. Designed with safety, comfort, and empowerment in mind, our journeys are more than just trips – they are life-changing adventures that inspire confidence and connection. Whether you're seeking serene beaches, majestic mountains, or vibrant cultures, our curated itineraries promise unforgettable memories and a community that celebrates your wanderlust. Your journey to self-discovery begins here – let’s escape the ordinary, together<br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark" style="border-top-style: outset;box-shadow: 0px -1px 20px;">
            <div class="container">
                <div class="block-heading" style="box-shadow: 0px 0px;">
                    <h1 style="font-family: Poppins, sans-serif;color: seagreen;font-weight: bold;"><br>Discover the World Through Our Lens<br><br></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src="../static/assets/img/scenery/martin-sanchez-igSCxtyORzY-unsplash.jpg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="../static/assets/img/scenery/image4.jpg" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="../static/assets/img/scenery/image6.jpg" alt="Slide Image"></div>
                    </div>
                    <div>
                        <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                        <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                    </div>
                    <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button></div>
                </div>
            </div>
        </section>
    </main><!-- Start: Footer Dark -->
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <!--<h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>              </div>
            </div>-->   
        </div>
        <div class="footer-copyright">
            <p>© 2025 F5 Escapes. All rights reserved.&nbsp;</p>
        </div>
    </footer><!-- End: Footer Dark -->
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/baguetteBox.min.js"></script>
    <script src="../static/assets/js/vanilla-zoom.js"></script>
    <script src="../static/assets/js/theme.js"></script>
</body>

</html>